@keyframes bounce {

    0%,
    100% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(-40px);
    }
}

@keyframes stairs {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(40px) translateY(-40px);
    }
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes stayInTheMiddle {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100vw);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100vw);
    }
}